#introduccion{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.fotocv{
    
    width:180px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.fotocv{
      float: right; 
      margin: 0 10px 10px 0; 
    }
 